In [388]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

In [389]:
df=pd.read_csv('/content/water_potability.csv')

In [390]:
df.sample(5)

            ph    Hardness  ...  Turbidity  Potability
2906  7.417824  243.304691  ...   3.470812           0
3092  7.260320  194.247742  ...   4.282315           0
2952       NaN  162.978560  ...   5.185642           0
741   4.638250  182.419621  ...   4.124538           1
261   4.815767  217.687093  ...   4.375224           1

[5 rows x 10 columns]

In [391]:
df['Potability'].value_counts()

0    1998
1    1278
Name: Potability, dtype: int64

In [392]:
df.describe()

                ph     Hardness  ...    Turbidity   Potability
count  2785.000000  3276.000000  ...  3276.000000  3276.000000
mean      7.080795   196.369496  ...     3.966786     0.390110
std       1.594320    32.879761  ...     0.780382     0.487849
min       0.000000    47.432000  ...     1.450000     0.000000
25%       6.093092   176.850538  ...     3.439711     0.000000
50%       7.036752   196.967627  ...     3.955028     0.000000
75%       8.062066   216.667456  ...     4.500320     1.000000
max      14.000000   323.124000  ...     6.739000     1.000000

[8 rows x 10 columns]

In [393]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [394]:
#values = {"ph": np.mean(df['ph']), "B": 1, "C": 2, "D": 3}
#df.fillna(value=values)

In [395]:
df['ph'].fillna(np.mean(df['ph']),inplace=True)
df['Sulfate'].fillna(np.mean(df['Sulfate']),inplace=True)
df['Trihalomethanes'].fillna(np.mean(df['Trihalomethanes']),inplace=True)

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               3276 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          3276 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3276 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [397]:
scaler=StandardScaler()
newdf=pd.DataFrame(scaler.fit_transform(df.drop(columns=['Potability'])))
newdf.head()

              0         1         2  ...         6         7         8
0 -8.460387e-15  0.259195 -0.139471  ... -1.180651  1.306149 -1.286298
1 -2.289339e+00 -2.036414 -0.385987  ...  0.270597 -0.638480  0.684218
2  6.928678e-01  0.847665 -0.240047  ...  0.781117  0.001509 -1.167365
3  8.409504e-01  0.547651  0.000493  ...  1.255134  2.152874  0.848412
4  1.368569e+00 -0.464429 -0.460249  ... -0.824357 -2.181599  0.138786

[5 rows x 9 columns]

In [398]:
X=newdf.iloc[:,:-1]
y=df.iloc[:,-1]

In [399]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [400]:
clf = LogisticRegressionCV().fit(X_train, y_train)
print(clf.score(X_train,y_train))

0.6105006105006106

In [401]:
clf.score(X_test,y_test)

0.6153846153846154